/* global rules */
* {
  padding: 0;
  margin: 0;
  --webkit--box-sizing: border-box;
  --moz--box-sizing: border-box;
  --o--box-sizing: border-box;
  --ms--box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea,
button {
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #287BFF;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #3d38d3;
}

.main-heading {
  position: relative;
  margin: 20px 20px 40px;
}
.main-heading::after, .main-heading::before {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.main-heading::before {
  background-color: white;
  width: 120px;
}
.main-heading::after {
  background-color: black;
  width: 40px;
}

.main-box-heading {
  margin-bottom: 10px;
}

.main-box-paragraph {
  color: #A89CA0;
  margin-bottom: 20px;
  font-size: 15px;
}

.main-link {
  background-color: #287BFF;
  color: white;
  padding: 4px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 15px 15px auto;
  transition: 0.3s;
  cursor: pointer;
}
.main-link:hover {
  background-color: #3d38d3;
}

.main-link.borderd {
  background-color: white;
  border: 1px solid #287BFF;
  color: #287BFF;
  padding: 4px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 15px 15px auto;
  transition: 0.3s;
  cursor: pointer;
}
.main-link.borderd:hover {
  background-color: #3d38d3;
  color: white;
}

.success {
  color: #0075ff;
}

.warning {
  color: #f59e0b;
}

.danger {
  color: #f44336;
}

.info {
  color: purple;
}

.blue {
  color: #0075ff;
}

.green {
  color: #22c55e;
}

.red {
  color: #f44336;
}

.orange {
  color: #f59e0b;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: #0075ff;
}

.bg-green {
  background-color: #22c55e;
}

.bg-red {
  background-color: #f44336;
}

.bg-orange {
  background-color: #f59e0b;
}

.page {
  display: flex;
  background-color: #F1F5F9;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width:768px) {
  .container {
    width: 750px;
  }
}
@media (min-width:992px) {
  .container {
    width: 970px;
  }
}
@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.sidebar {
  width: 250px;
  min-height: 100vh;
  background-color: #287BFF;
  box-shadow: 0 0 10px #DDD;
  padding: 20px;
  position: relative;
}
@media (max-width:767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
}
.sidebar .title {
  display: flex;
  justify-content: center;
  margin: 0px auto 20px auto;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.sidebar .title::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: -20px;
  position: absolute;
  left: 0;
}
.sidebar .title .title-icon {
  font-size: 24px;
  color: white;
}
.sidebar .title .title-text {
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  margin-left: 5px;
}
@media (max-width:767px) {
  .sidebar .title .title-text {
    display: none;
  }
}
.sidebar ul {
  margin-top: 50px;
}
@media (max-width:767px) {
  .sidebar ul {
    margin-top: 70px;
  }
}
.sidebar ul li a {
  position: relative;
  width: calc(100% + 25px);
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 14px;
  color: white;
  padding: 10px;
}
.sidebar ul li a.active, .sidebar ul li a:hover {
  background-color: #F1F5F9;
  color: black;
}
.sidebar ul li a.active::before, .sidebar ul li a.active::after, .sidebar ul li a:hover::before, .sidebar ul li a:hover::after {
  content: "";
  position: absolute;
  right: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  opacity: 1;
}
@media (max-width:767px) {
  .sidebar ul li a.active::before, .sidebar ul li a.active::after, .sidebar ul li a:hover::before, .sidebar ul li a:hover::after {
    right: 10px;
  }
}
.sidebar ul li a.active::before, .sidebar ul li a:hover::before {
  top: -50px;
  -o-box-shadow: 35px 35px 0 10px #F1F5F9;
  -ms-box-shadow: 35px 35px 0 10px #F1F5F9;
  box-shadow: 35px 35px 0 10px #F1F5F9;
}
.sidebar ul li a.active::after, .sidebar ul li a:hover::after {
  bottom: -50px;
  -o-box-shadow: 35px -35px 0 10px #F1F5F9;
  -ms-box-shadow: 35px -35px 0 10px #F1F5F9;
  box-shadow: 35px -35px 0 10px #F1F5F9;
}
.sidebar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}
@media (max-width:767px) {
  .sidebar ul li a span {
    display: none;
  }
}

.page .content {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.page .content .content-head {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.page .content .content-head .search {
  position: relative;
}
.page .content .content-head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  color: #A89CA0;
}
.page .content .content-head .search input {
  width: 170px;
  padding: 10px;
  padding-left: 35px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: width 0.3s;
}
.page .content .content-head .search input::-moz-placeholder {
  font-size: 14px;
}
.page .content .content-head .search input:-ms-input-placeholder {
  font-size: 14px;
}
.page .content .content-head .search input::placeholder {
  font-size: 14px;
}
.page .content .content-head .search input:focus {
  outline: 1px solid #A89CA0;
  width: 200px;
}
.page .content .content-head .search input:focus::-moz-placeholder {
  opacity: 0;
}
.page .content .content-head .search input:focus:-ms-input-placeholder {
  opacity: 0;
}
.page .content .content-head .search input:focus::placeholder {
  opacity: 0;
}
.page .content .content-head .icons {
  display: flex;
  align-items: center;
}
.page .content .content-head .icons .notification {
  position: relative;
  cursor: pointer;
}
.page .content .content-head .icons .notification::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f44336;
}
.page .content .content-head .icons img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0px;
  margin-left: 15px;
}

.wrapper {
  display: flex;
  margin: 20px;
  gap: 20px;
  flex-direction: row-reverse;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .wrapper {
    flex-direction: column;
    align-items: normal;
  }
}
.wrapper .files-stats {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  min-width: 260px;
}
.wrapper .files-stats > div {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #EEEEEE;
  margin-bottom: 10px;
}
.wrapper .files-stats > div i {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.wrapper .files-stats > div .info {
  flex: 1;
}
.wrapper .files-stats > div .info span {
  display: block;
  font-size: 13px;
  color: black;
}
.wrapper .files-stats > div .info span:last-of-type {
  margin-top: 5px;
  color: #A89CA0;
}
.wrapper .files-stats > div .size {
  color: #A89CA0;
  font-size: 13px;
  font-weight: 600;
}
.wrapper .files-stats > div.pdf i {
  background-color: rgba(0, 117, 255, 0.2);
  color: #0075ff;
}
.wrapper .files-stats > div.images i {
  background-color: rgba(34, 197, 94, 0.2);
  color: #22c55e;
}
.wrapper .files-stats > div.word i {
  background-color: rgba(244, 67, 54, 0.2);
  color: #f44336;
}
.wrapper .files-stats > div.csv i {
  background-color: rgba(245, 158, 11, 0.2);
  color: #f59e0b;
}
.wrapper .files-stats .upload {
  display: block;
  background-color: #287BFF;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 14px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 15px auto 0;
  transition-duration: 0.3s;
}
.wrapper .files-stats .upload:hover {
  background-color: #3d38d3;
}
.wrapper .files {
  display: grid;
  gap: 20px;
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.wrapper .files .file {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.wrapper .files .file .icon {
  text-align: center;
  margin-bottom: 15px;
}
.wrapper .files .file .icon img {
  width: 64px;
  height: 64px;
  max-width: 100%;
}
.wrapper .files .file .file-name {
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
}
.wrapper .files .file .name {
  color: #A89CA0;
  font-size: 13px;
}
.wrapper .files .file .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #EEEEEE;
  color: #A89CA0;
  font-size: 13px;
}

.simple-progress {
  height: 6px;
  overflow: hidden;
  background-color: #ccc;
  border-radius: 6px;
  position: relative;
  width: 50%;
}
.simple-progress span {
  background-color: #287BFF;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 6px;
}

.toggle-checkbox {
  --webkit--appearance: none;
  --moz--appearance: none;
  --o--appearance: none;
  --ms--appearance: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: #287BFF;
}
.toggle-checkbox:checked + .toggle-switch::before {
  left: 50px;
  color: #287BFF;
  content: "\f00c";
}

.toggle-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "X";
  font-weight: 900;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  transition: 0.3s;
}/*# sourceMappingURL=files.css.map */