/* global rules */
* {
  padding: 0;
  margin: 0;
  --webkit--box-sizing: border-box;
  --moz--box-sizing: border-box;
  --o--box-sizing: border-box;
  --ms--box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea,
button {
  border: none;
  outline: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #287BFF;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #3d38d3;
}

.main-heading {
  position: relative;
  margin: 20px 20px 40px;
}
.main-heading::after, .main-heading::before {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.main-heading::before {
  background-color: white;
  width: 120px;
}
.main-heading::after {
  background-color: black;
  width: 40px;
}

.main-link {
  background-color: #287BFF;
  color: white;
  padding: 4px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 15px 15px auto;
  transition: 0.3s;
  cursor: pointer;
}
.main-link:hover {
  background-color: #3d38d3;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width:768px) {
  .container {
    width: 750px;
  }
}
@media (min-width:992px) {
  .container {
    width: 970px;
  }
}
@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.page {
  display: flex;
  background-color: #F1F5F9;
}

.sidebar {
  width: 250px;
  min-height: 100vh;
  background-color: #287BFF;
  box-shadow: 0 0 10px #DDD;
  padding: 20px;
  position: relative;
}
@media (max-width:767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
}
.sidebar .title {
  display: flex;
  justify-content: center;
  margin: 0px auto 20px auto;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.sidebar .title::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: -20px;
  position: absolute;
  left: 0;
}
.sidebar .title .title-icon {
  font-size: 24px;
  color: white;
}
.sidebar .title .title-text {
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  margin-left: 5px;
}
@media (max-width:767px) {
  .sidebar .title .title-text {
    display: none;
  }
}
.sidebar ul {
  margin-top: 50px;
}
@media (max-width:767px) {
  .sidebar ul {
    margin-top: 70px;
  }
}
.sidebar ul li a {
  position: relative;
  width: calc(100% + 25px);
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 14px;
  color: white;
  padding: 10px;
}
.sidebar ul li a.active, .sidebar ul li a:hover {
  background-color: #F1F5F9;
  color: black;
}
.sidebar ul li a.active::before, .sidebar ul li a.active::after, .sidebar ul li a:hover::before, .sidebar ul li a:hover::after {
  content: "";
  position: absolute;
  right: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  opacity: 1;
}
@media (max-width:767px) {
  .sidebar ul li a.active::before, .sidebar ul li a.active::after, .sidebar ul li a:hover::before, .sidebar ul li a:hover::after {
    right: 10px;
  }
}
.sidebar ul li a.active::before, .sidebar ul li a:hover::before {
  top: -50px;
  -o-box-shadow: 35px 35px 0 10px #F1F5F9;
  -ms-box-shadow: 35px 35px 0 10px #F1F5F9;
  box-shadow: 35px 35px 0 10px #F1F5F9;
}
.sidebar ul li a.active::after, .sidebar ul li a:hover::after {
  bottom: -50px;
  -o-box-shadow: 35px -35px 0 10px #F1F5F9;
  -ms-box-shadow: 35px -35px 0 10px #F1F5F9;
  box-shadow: 35px -35px 0 10px #F1F5F9;
}
.sidebar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}
@media (max-width:767px) {
  .sidebar ul li a span {
    display: none;
  }
}

.page .content {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.page .content .content-head {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.page .content .content-head .search {
  position: relative;
}
.page .content .content-head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  color: #A89CA0;
}
.page .content .content-head .search input {
  width: 170px;
  padding: 10px;
  padding-left: 35px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: width 0.3s;
}
.page .content .content-head .search input::-moz-placeholder {
  font-size: 14px;
}
.page .content .content-head .search input:-ms-input-placeholder {
  font-size: 14px;
}
.page .content .content-head .search input::placeholder {
  font-size: 14px;
}
.page .content .content-head .search input:focus {
  outline: 1px solid #A89CA0;
  width: 200px;
}
.page .content .content-head .search input:focus::-moz-placeholder {
  opacity: 0;
}
.page .content .content-head .search input:focus:-ms-input-placeholder {
  opacity: 0;
}
.page .content .content-head .search input:focus::placeholder {
  opacity: 0;
}
.page .content .content-head .icons {
  display: flex;
  align-items: center;
}
.page .content .content-head .icons .notification {
  position: relative;
  cursor: pointer;
}
.page .content .content-head .icons .notification::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f44336;
}
.page .content .content-head .icons img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0px;
  margin-left: 15px;
}
.page .content .wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width:767px) {
  .page .content .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
  }
}
.page .content .wrapper .news {
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: white;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.page .content .wrapper .news .massage h3 {
  color: rgba(40, 123, 255, 0.7);
  font-size: 22px;
  width: 50%;
}
.page .content .wrapper .news .massage p {
  margin: 20px 0px;
  color: #A89CA0;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
.page .content .wrapper .news .massage .links {
  display: flex;
  align-items: center;
}
@media (max-width:767px) {
  .page .content .wrapper .news .massage .links {
    justify-content: space-between;
  }
}
.page .content .wrapper .news .massage .links .main-link {
  margin: 0px;
  padding: 10px;
}
.page .content .wrapper .news .massage .links span {
  margin-left: 15px;
  color: #0075ff;
  text-decoration: underline;
  position: relative;
  cursor: pointer;
}
.page .content .wrapper .news .massage .links span::after {
  font-family: var(--fa-style-family-classic);
  content: "\f105";
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
}
@media (max-width:767px) {
  .page .content .wrapper .news .massage .links span::after {
    display: none;
  }
}
.page .content .wrapper .news img {
  width: 200px;
  display: block;
}
@media (max-width:767px) {
  .page .content .wrapper .news img {
    display: none;
  }
}
.page .content .wrapper .welcome {
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
}
@media (max-width:767px) {
  .page .content .wrapper .welcome {
    text-align: center;
    display: block;
  }
}
.page .content .wrapper .welcome .intro {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #287BFF;
}
@media (max-width:767px) {
  .page .content .wrapper .welcome .intro {
    padding-bottom: 30px;
  }
}
.page .content .wrapper .welcome .intro .intro-text h2 {
  color: white;
  font-weight: 700;
}
.page .content .wrapper .welcome .intro .intro-text p {
  color: black;
  font-weight: 600;
  margin-top: 10px;
}
.page .content .wrapper .welcome .intro img {
  height: 100px;
  margin-bottom: -10px;
}
@media (max-width:767px) {
  .page .content .wrapper .welcome .intro img {
    display: none;
  }
}
.page .content .wrapper .welcome .avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-top: -32px;
  margin-left: 20px;
  padding: 2px;
  background-color: white;
  --webkit--box-shadow: 0 0 5px #D3D3D3;
  --moz--box-shadow: 0 0 5px #D3D3D3;
  --o--box-shadow: 0 0 5px #D3D3D3;
  --ms--box-shadow: 0 0 5px #D3D3D3;
  box-shadow: 0 0 5px #D3D3D3;
}
@media (max-width:767px) {
  .page .content .wrapper .welcome .avatar {
    margin-left: 0;
  }
}
.page .content .wrapper .welcome .welcome-body {
  text-align: center;
  display: flex;
  padding: 20px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width:767px) {
  .page .content .wrapper .welcome .welcome-body {
    display: block;
  }
}
.page .content .wrapper .welcome .welcome-body > div {
  flex: 1;
}
.page .content .wrapper .welcome .welcome-body > div span {
  display: block;
  color: #A89CA0;
  font-size: 14px;
  margin-top: 10px;
}
@media (max-width:767px) {
  .page .content .wrapper .welcome .welcome-body > div span {
    margin-top: 5px;
  }
}
@media (max-width:767px) {
  .page .content .wrapper .welcome .welcome-body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
.page .content .wrapper .quick-draft {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.page .content .wrapper .quick-draft h2 {
  margin-bottom: 10px;
}
.page .content .wrapper .quick-draft p {
  color: #A89CA0;
  margin-bottom: 20px;
  font-size: 15px;
}
.page .content .wrapper .quick-draft form input[type=text], .page .content .wrapper .quick-draft form textarea {
  display: block;
  width: 100%;
  background-color: #EEEEEE;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px;
}
.page .content .wrapper .quick-draft form textarea {
  resize: none;
  min-height: 180px;
}
.page .content .wrapper .yearly-target {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.page .content .wrapper .yearly-target h2 {
  margin-bottom: 10px;
}
.page .content .wrapper .yearly-target p {
  color: #A89CA0;
  margin-bottom: 20px;
  font-size: 15px;
}
.page .content .wrapper .yearly-target .target-row {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.page .content .wrapper .yearly-target .target-row .icon {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  margin-right: 15px;
}
.page .content .wrapper .yearly-target .target-row .details {
  flex: 1;
}
.page .content .wrapper .yearly-target .target-row .details .title {
  color: #A89CA0;
  font-size: 15px;
}
.page .content .wrapper .yearly-target .target-row .details .number {
  display: block;
  margin: 10px 0px 10px;
  font-weight: 700;
}
.page .content .wrapper .yearly-target .target-row .details .progress {
  position: relative;
  background-color: rgba(34, 197, 94, 0.2);
}
.page .content .wrapper .yearly-target .target-row .details .progress > span {
  background-color: red;
  display: block;
  position: relative;
  height: 4px;
}
.page .content .wrapper .yearly-target .target-row .details .progress > span span {
  position: absolute;
  right: -16px;
  bottom: 16px;
  background-color: red;
  padding: 2px 5px;
  border-radius: 6px;
  color: white;
  font-weight: 700;
  font-size: 13px;
}
.page .content .wrapper .yearly-target .target-row .details .progress > span span::after {
  content: "";
  border-color: transparent;
  border-width: 5px;
  border-style: solid;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}
.page .content .wrapper .yearly-target .target-row.money .icon {
  background-color: rgba(0, 117, 255, 0.2);
}
.page .content .wrapper .yearly-target .target-row.money .icon i {
  color: #0075ff;
}
.page .content .wrapper .yearly-target .target-row.money .progress {
  background-color: rgba(0, 117, 255, 0.2);
}
.page .content .wrapper .yearly-target .target-row.money .progress > span {
  background-color: #0075ff;
}
.page .content .wrapper .yearly-target .target-row.money .progress > span span {
  background-color: #0075ff;
}
.page .content .wrapper .yearly-target .target-row.money .progress > span span::after {
  border-top-color: #0075ff;
}
.page .content .wrapper .yearly-target .target-row.projects .icon {
  background-color: rgba(245, 158, 11, 0.2);
}
.page .content .wrapper .yearly-target .target-row.projects .icon i {
  color: #f59e0b;
}
.page .content .wrapper .yearly-target .target-row.projects .progress {
  background-color: rgba(245, 158, 11, 0.2);
}
.page .content .wrapper .yearly-target .target-row.projects .progress > span {
  background-color: #f59e0b;
}
.page .content .wrapper .yearly-target .target-row.projects .progress > span span {
  background-color: #f59e0b;
}
.page .content .wrapper .yearly-target .target-row.projects .progress > span span::after {
  border-top-color: #f59e0b;
}
.page .content .wrapper .yearly-target .target-row.team .icon {
  background-color: rgba(34, 197, 94, 0.2);
}
.page .content .wrapper .yearly-target .target-row.team .icon i {
  color: #22c55e;
}
.page .content .wrapper .yearly-target .target-row.team .progress {
  background-color: rgba(34, 197, 94, 0.2);
}
.page .content .wrapper .yearly-target .target-row.team .progress > span {
  background-color: #22c55e;
}
.page .content .wrapper .yearly-target .target-row.team .progress > span span {
  background-color: #22c55e;
}
.page .content .wrapper .yearly-target .target-row.team .progress > span span::after {
  border-top-color: #22c55e;
}/*# sourceMappingURL=homepage.css.map */