.simple-progress{
    height: 6px;
    overflow: hidden;
    background-color: $gray-alt-color;
    border-radius: $rad6;
    position: relative;
    width: 50%;
    span{
        background-color: $main-color;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: $rad6;
    }
}