.page .content{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    .content-head{
        background-color: white;
        @include flexBetween();
        padding: 15px;
        .search{
            position: relative;
            &::before{
                font-family: var(--fa-style-family-classic);
                content: "\f002";
                font-weight: 900;
                @include verticalCenterer;
                left: 15px;
                color: $gray-color;
            }
            input{
                width: 170px;
                padding: 10px{
                    left:35px;
                };
                border: 1px solid #ccc;
                border-radius: $rad10;
                transition: width $mainTransitionDuration;
                &::placeholder{
                    font-size: 14px;
                }
                &:focus{
                    outline: 1px solid $gray-color;
                    width: 200px;
                    &::placeholder{
                        opacity: 0;
                    }
                }
            }
        }
        .icons{
            @include contentVericalCenterer();
            .notification{
                position: relative;
                cursor: pointer;
                &::before{
                    content: "";
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    @include circle(10px);
                    background-color: $red-color;
                }
            }
            img{
                @include circle(32px);
                cursor: pointer;
                margin: 0px {
                    left: 15px
                };
            }
        }
    }
    .wrapper{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
        margin: {
            left: 20px;
            right: 20px
        };
        @media($maxMobile){
                grid-template-columns: minmax(200px,1fr);
                margin: {
                    left: 10px;
                    right: 10px
                };
        }
        .welcome{
            overflow: hidden;
            background-color: white;
            border-radius: 10px;
            @media($maxMobile){
                text-align: center;
                display: block;
            }
            .intro{
                padding: 20px;
                display: flex;
                justify-content: space-between;
                background-color: $main-color;
                @media($maxMobile){
                    padding-bottom: 30px;
                }
                .intro-text{
                    h2{
                        color: white;
                        font-weight: 700;
                    }
                    p{
                        color: black;
                        font-weight: 600;
                        margin-top: 10px;
                    }
                }
                img{
                    height: 100px;
                    margin-bottom: -10px;
                    @media($maxMobile){
                        display: none;
                    }
                }
            }
            .avatar{
                @include circle(64px);
                margin: {
                    top: -32px;
                    left: 20px
                };
                padding: 2px;
                background-color: white;
                @include prefixer(box-shadow,0 0 5px $light-gray-color,$prefixes);
                @media($maxMobile){
                    margin-left: 0;
                }
            }
            .welcome-body{
                text-align: center;
                display: flex;
                padding: 20px;
                border: {
                    top: 1px solid $gray-third-color;
                    bottom: 1px solid $gray-third-color;
                };
                margin: {
                    top: 20px;
                    bottom: 20px;
                };
                @media ($maxMobile) {
                    display: block;
                }
            & > div{
                flex: 1;
                    span{
                        display: block;
                        color: $gray-color;
                        font-size: 14px;
                        margin-top: 10px;
                        @media($maxMobile){
                            margin-top: 5px;
                        }
                    }

                    @media($maxMobile){
                        &:not(:last-child){
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
        .quick-draft{
            padding: 20px;
            background-color: white;
            border-radius: $rad10;
            h2{
                margin-bottom: 10px;
            }
            p{
                color: $gray-color;
                margin-bottom: 20px;
                font-size: 15px;
            }
            form{
            input[type = 'text'],textarea{
                    display: block;
                    width: 100%;
                    background-color: $gray-third-color;
                    border-radius: 6px;
                    padding: 10px;
                    margin-bottom: 20px;
                }
                textarea{
                    resize: none;
                    min-height: 180px;

                }
            }
        }
        .yearly-target{
            padding: 20px;
            background-color: white;
            border-radius: $rad10;
            h2{
                margin-bottom: 10px;
            }
            p{
                color: $gray-color;
                margin-bottom: 20px;
                font-size: 15px;
            }
            .target-row{
                margin-bottom: 15px;
                display: flex;
                align-items: center;
                .icon{
                    width: 80px;
                    height: 80px;
                    @include flexCenterer();
                    background-color: red;
                    margin-right: 15px;
                }
                .details{
                    flex: 1;
                    .title{
                        color: $gray-color;
                        font-size: 15px;
                    }
                    .number{
                        display: block;
                        margin: 10px 0px 10px;
                        font-weight: 700;
                    }
                    .progress{
                        position: relative;
                        background-color: rgba($color: $green-color, $alpha: 0.2);
                        & > span{
                            background-color: red;
                            display: block;
                            position: relative;
                            height: 4px;
                            span{
                                position: absolute;
                                right: -16px;
                                bottom: 16px;
                                background-color: red;
                                padding: 2px 5px;
                                border-radius: $rad6;
                                color: white;
                                font-weight: 700;
                                font-size: 13px;
                                &::after{
                                    content: "";
                                    border-color: transparent;
                                    border-width: 5px;
                                    border-style: solid;
                                    @include horizantalCenterer();
                                    bottom: -10px;
                                }
                            }
                        }
                    }
                    
                }
                &.money{
                    .icon{
                        background-color: rgba($color: $blue-color, $alpha: 0.2);
                        i{
                            color: $blue-color;
                        }
                    }
                    .progress{
                        background-color: rgba($color: $blue-color, $alpha: 0.2);
                        & > span{
                            background-color: $blue-color;
                            span{
                                background-color: $blue-color;
                                &::after{
                                    border-top-color:$blue-color ;
                                }
                            }
                        }
                    }
                }
                &.projects{
                    .icon{
                        background-color: rgba($color: $orange-color, $alpha: 0.2);
                        i{
                            color: $orange-color;
                        }
                    }
                    .progress{
                        background-color: rgba($color: $orange-color, $alpha: 0.2);
                        & > span{
                            background-color: $orange-color;
                            span{
                                background-color: $orange-color;
                                &::after{
                                    border-top-color:$orange-color ;
                                }
                            }
                        }
                    }
                }
                &.team{
                    .icon{
                        background-color: rgba($color: $green-color, $alpha: 0.2);
                        i{
                            color: $green-color;
                        }
                    }
                    .progress{
                        background-color: rgba($color: $green-color, $alpha: 0.2);
                        & > span{
                            background-color: $green-color;
                            span{
                                background-color: $green-color;
                                &::after{
                                    border-top-color:$green-color ;
                                }
                            }
                        }
                    }
                }
            }
            // .target-row{
            //     margin-bottom: 20px;
            //     display: flex;
            //     align-items: center;
            //     .icon{
            //         width: 80px;
            //         height: 80px;
            //         @include flexCenterer();
            //     }
            //     .details{
            //         margin-left: 15px;
            //         flex: 1;
            //         .title{
            //             color: $gray-color;
            //             font-size: 14px;
            //         }
            //         .number{
            //             display: block;
            //             margin: {
            //                 top: 5px;
            //                 right:0 ;
            //                 bottom: 10px;
            //                 left:0 ;
            //             };
            //             font-weight: 700;
            //         }
            //         .progress{
            //             position: relative;
            //             & > span{
                            
            //                 span{
            //                     &::after{
            //                         content: "";
            //                     }
            //                 }
            //             }
            //         }
            //     }
                // &.money{
                //     .icon{
                //         background-color: rgba($color: $blue-color, $alpha: 0.2);
                //         i{
                //             color: $blue-color;
                //         }
                //     }
                //     .progress{
                //         background-color: rgba($color: $blue-color, $alpha: 0.2)
                //     }
                // }
                // &.projects{
                //     .icon{
                //         background-color: rgba($color: $orange-color, $alpha: 0.2);
                //         i{
                //             color: $orange-color;
                //         }
                //     }
                //     .progress{
                //         background-color: rgba($color: $orange-color, $alpha: 0.2);
                //     }
                // }
                // &.team{
                //     .icon{
                //         background-color: rgba($color: $green-color, $alpha: 0.2);
                //         i{
                //             color: $green-color;
                //         }
                //     }
                //     .progress{
                //         background-color: rgba($color: $green-color, $alpha: 0.2);
                //     }
                // }
            // }
        }
    }
}